# PUBLIC
NEXT_PUBLIC_RECAPTCHA_KEY_SITE=
NEXT_PUBLIC_URL=


# PRIVATE
RECAPTCHA_KEY_SECRET=

DISCORD_WEBHOOK_CONTACT=

S3_URL=
S3_CONSOLE_URL=
S3_ACCESS_KEY=
S3_SECRET_KEY=

LIBSQL_URL=
LIBSQL_AUTH=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

SMTP_ENABLED=
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SENDER_NAME=
SMTP_SENDER_ADDRESS=

CDN0_URL=
CDN0_S3_URL=
CDN0_S3_REGION=
CDN0_S3_ACCESS_KEY=
CDN0_S3_SECRET_KEY=

CDN1_URL=
CDN1_S3_URL=
CDN1_S3_REGION=
CDN1_S3_ACCESS_KEY=
CDN1_S3_SECRET_KEY=
