#
# CLIENT
#
PUBLIC_REWRITE_BRIDGE_ACCOUNT= # "a.localhost:3000"
PUBLIC_REWRITE_BRIDGE_MEDIA= # "media.localhost:3000"
PUBLIC_REWRITE_BRIDGE_SOFTWARE= # "localhost:3000"


#
# SERVER
#
# Database URL for PostgreSQL
DATABASE_URL= # "postgresql://username:password@localhost:5432/mydb"

# Better Auth configuration
BETTER_AUTH_URL= # "http://a.localhost:3000"
BETTER_AUTH_SECRET= # Generate a secret key: `npx -y @better-auth/cli secret`
