# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
package-lock.json

# testing
/test-results/
/coverage/

# tanstack
/.tanstack/
/src/routeTree.gen.ts

# production
/build/
/server/build
/public/build
/playwright-report/
/blob-report/
/playwright/.cache/
.cache
.output
.nitro
.vercel

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example

# typescript
*.tsbuildinfo

# IDE
/.vscode
