@theme {
    --animate-floatA: floatA 5s ease-in-out infinite;
    --animate-floatB: floatB 7s ease-in-out infinite;
    --animate-floatC: floatC 7s ease-in-out infinite;

    @keyframes floatA {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-6px);
        }
    }


    @keyframes floatB {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-8px);
        }
    }

    @keyframes floatC {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-4px);
        }
    }
}