@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-background2: var(--background2);
    --color-foreground2: var(--foreground2);

    --color-background3: var(--background3);
    --color-foreground3: var(--foreground3);

    --color-background4: var(--background4);
    --color-foreground4: var(--foreground4);

    --color-background5: var(--background5);
    --color-foreground5: var(--foreground5);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-geist-mono);

    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);

    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);

    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);

    --color-informative: var(--informative);
    --color-success: var(--success);
    --color-warning: var(--warning);
    --color-destructive: var(--destructive);

    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);

    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);

    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);

    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);

    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);

    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 12px);
    --radius-4xl: calc(var(--radius) + 16px);

    --container-8xl: 88rem;
}

@utility theme-light {
    --background: var(--light1);
    --foreground: var(--dark1);

    --background2: var(--light2);
    --foreground2: var(--dark2);

    --background3: var(--light3);
    --foreground3: var(--dark3);

    --background4: var(--light4);
    --foreground4: var(--dark4);

    --background5: var(--light5);
    --foreground5: var(--dark5);

    --card: var(--light2);
    --card-foreground: var(--foreground);

    --popover: var(--card);
    --popover-foreground: var(--foreground);

    --primary: var(--color1);
    --primary-foreground: var(--light1);

    --secondary: var(--light3);
    --secondary-foreground: var(--foreground);

    --muted: var(--secondary);
    --muted-foreground: var(--color5);

    --accent: var(--secondary);
    --accent-foreground: var(--primary);

    --border: oklch(0 0 0 / 10%);
    --input: var(--border);
    --ring: var(--primary);

    --sidebar: var(--card);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--secondary);
    --sidebar-accent-foreground: var(--foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
}

.theme-light {
    @apply scheme-light theme-light text-foreground;
}

@utility theme-dark {
    --background: var(--dark1);
    --foreground: var(--light1);

    --background2: var(--dark2);
    --foreground2: var(--light2);

    --background3: var(--dark3);
    --foreground3: var(--light3);

    --background4: var(--dark4);
    --foreground4: var(--light4);

    --background5: var(--dark5);
    --foreground5: var(--light5);

    --card: var(--dark2);
    --card-foreground: var(--foreground);

    --popover: var(--card);
    --popover-foreground: var(--foreground);

    --primary: var(--color1);
    --primary-foreground: var(--light1);

    --secondary: var(--dark3);
    --secondary-foreground: var(--foreground);

    --muted: var(--secondary);
    --muted-foreground: var(--color5);

    --accent: var(--secondary);
    --accent-foreground: var(--primary);

    --border: oklch(1 0 0 / 10%);
    --input: var(--border);
    --ring: var(--primary);

    --sidebar: var(--card);
    --sidebar-foreground: var(--foreground);
    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);
    --sidebar-accent: var(--secondary);
    --sidebar-accent-foreground: var(--foreground);
    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);
}

.theme-dark {
    @apply scheme-dark theme-dark text-foreground;
}

:root {
    --radius: 0;

    --color1: #4b71d8ff;
    --color2: #2ac1a8ff;
    --color3: #ebb447ff;
    --color4: #f1414dff;
    --color5: #929396ff;

    --light1: #fdfdfeff;
    --light2: #f6f6f8ff;
    --light3: #eeeef0ff;
    --light4: #e3e5e8ff;
    --light5: #d1d3d6ff;

    --dark1: #212125ff;
    --dark2: #2a2a2eff;
    --dark3: #303034ff;
    --dark4: #36363aff;
    --dark5: #3d3d41ff;

    --informative: var(--color1);
    --success: var(--color2);
    --warning: var(--color3);
    --destructive: var(--color4);

    --chart-1: oklch(0.83 0.10 230); /* TODO */
    --chart-2: oklch(0.75 0.14 233); /* TODO */
    --chart-3: var(--color1);
    --chart-4: oklch(0.59 0.14 242); /* TODO */
    --chart-5: oklch(0.50 0.12 243); /* TODO */

    @apply theme-light;
}

.dark {
    @apply theme-dark;
}
