@utility cut-corners-* {
    clip-path: polygon(calc(var(--spacing) * --value(number) / sqrt(3)) 0,
            100% 0,
            100% calc(100% - var(--spacing) * --value(number)),
            calc(100% - var(--spacing) * --value(number) / sqrt(3)) 100%,
            0 100%,
            0 calc(var(--spacing) * --value(number)));
}
